<!DOCTYPE html>
<html ng-app="aCtg">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pvtDrctve</title>
      
 
      
    <link rel="stylesheet" href="css/bootstrap.min.css" />
      <link rel="stylesheet" href="css/stilu.css" type="text/css" />
    
    <script src="js/angular.min.js"></script>
    <script src="js/jquery-1.8.2.min.js"></script>
    
    <script src="js/app_Directive.js"></script>
    <script src="js/ftabAngular.js"></script>
    <script src="js/directivele.js"></script>     
    
    

      
  </head>

  <body ng-controller="dateController as obDate">
  <br>
     <a href="tel://0723377787">+1 (555) 555-5555</a> 
     <br>
                                                         
   <div ng-controller='mnuCtrl as mcr'> <!-- mcr = mnuCtrl reference -->
                                                          
        <br>
    
          <div class="input-group">
                          <input  class="form-control">
                          <span class="input-group-addon" id="basic-addon2">
                         <!--     <span class="glyphicon glyphicon-align-justify" -->
                               <span class="glyphicon glyphicon-plus-sign"
                                   
                                    ng-click="mcr.apasareButon()"></span>
                          </span>
          </div>
       <br>
       
            <meniu ng-show="mcr.butonApasat"></meniu>
            <listacheifiltre  ng-show="mcr.esteSetat(0)"></listacheifiltre>
      </div>  
      
       <section ng-controller='aicCtrl as aicr'>
           
              <div class='elmli' ng-repeat='elementu in aicr.oaAic |  limitTo: 10'>
      
                    <div class="unghiafoto" >
                       <div class="dfoto">
                               <img src="{{aicr.obtPoza($index)}}" height="128" width="128">
                       </div>
                    
                    <div class='dinfo'>
                          <ul class='elmulli'>
                            <li class='infoli'><b>sku:</b><h1>{{' '+elementu.sku}}</h1> </li>
                                <li class='infoli'><b>nume:</b>{{' '+elementu.nume}} </li>
                                <li class='infoli'><b>stoc tarab:</b>{{' '+elementu.Taraba}} </li>
                                <li class='infoli'><b>____ depo:</b>{{' '+elementu.Depozit}} </li>
                                <li class='infoli'><b>pret:</b>{{' '+elementu.pret}} </li>
                                <li class='infoli'><b>cost:</b>{{' '+(elementu.costNetRon | number:1)}} </li>
               
                            </ul>
                    </div>         
                   </div>  
              </div>
           
           
 
       </section>                                         
   
 
  <script>
      function focusaretreabamare(astea){
                astea.value=''
        }          
  </script>  
 
  </body>

</html>

<!-- 
-->
